<div id="<%= dom_id publication %>">
  <p>
    <strong>Description:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= publication.product_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= publication.user_id %>
  </p>

</div>
