<div class="container">

<h2>Política de la Página Web</h2><br/>

<p>Fecha de última actualización: [30/01/2024]</p>

<p style="justify-content: center;">Bienvenido/a a nuestra página web. Esta política establece los términos y condiciones de uso de nuestro sitio, así como
la información relevante sobre la promoción de productos de forraje.</p><br/>

    <h2>
        1. Información General:
    </h2>
    <p>
        1.1. Propósito del Sitio: Esta página web tiene como objetivo promocionar y proporcionar información sobre
        nuestros productos de forraje.
    </p>
    <p>
        1.2. Ventas Personales: No realizamos ventas directas en línea a través de este sitio web. La adquisición de
        nuestros productos se realiza de manera personalizada a través de contactos específicos proporcionados en la
        sección de contacto.
    </p>
    <h2>
        2. Privacidad:
    </h2>
    <p>
        2.1. Recopilación de Información: Para brindar información personalizada y responder a consultas, podemos
        recopilar cierta información personal a través de formularios de contacto. Consulte nuestra Política de
        Privacidad para obtener más detalles sobre cómo manejamos la información del usuario.
    </p>
    <p>
        2.2. Cookies: Utilizamos cookies para mejorar la experiencia del usuario. Al utilizar nuestro sitio, usted
        acepta el uso de cookies de acuerdo con nuestra Política de Cookies.
    </p>
    <h2>
        3. Responsabilidad:

    </h2>
    <p>
        3.1. Uso de la Información: La información proporcionada en este sitio web es con fines informativos. No nos
        hacemos responsables de la exactitud, integridad o actualidad de la información.

    </p>
    <p>
        3.2. Productos: Aunque nos esforzamos por mostrar nuestros productos de manera precisa, la
        disponibilidad y características pueden variar. Le recomendamos ponerse en contacto directo para obtener
        información actualizada sobre productos y precios.
        <h2>
            4. Enlaces a Terceros:
        </h2>
    <p>
        4.1. Enlaces Externos: Este sitio puede contener enlaces a sitios web de terceros. No nos hacemos responsables
        por el contenido o las prácticas de privacidad de estos sitios. Le recomendamos revisar las políticas de
        privacidad de esos sitios antes de proporcionar información personal.
    </p>
    <h2>
        5. Actualizaciones de la Política:
    </h2>
    <p>
        5.1. Modificaciones: Nos reservamos el derecho de realizar cambios en esta política en cualquier momento. La
        fecha de la última actualización se indicará en la parte superior de esta página.
    </p>
    <p>
        5.2. Notificación de Cambios: En caso de cambios significativos, notificaremos a los usuarios a través de
        anuncios destacados en nuestro sitio.
    </p>
    <p>

<p>Al utilizar este sitio web, usted acepta y comprende los términos de esta política. Si tiene alguna pregunta o
inquietud, no dude en ponerse en contacto con nosotros a través de la información proporcionada en la sección de
contacto.</p>

<p>Gracias por visitar nuestro sitio web.</p>

<h2>Nueva Esperanza</h2><br/>
<h3>Osorno, Chile</h3><br/>
</div>