<h1>Crear Cliente</h1>

<%= render "form", client: @client %>

<br>

<div>
  <%= link_to "Regresar", clients_path, class: "btn btn-outline-secondary", style: "margin-left: 20px; margin-bottom: 20px;"  %>
</div>
