<div class="container">
  <h1>Editar producto</h1>

  <%= render "form", product: @product %>

  <br>

  <div>
    <%= link_to "Ver", @product , class: "btn btn-outline-secondary", style: "margin-left: 20px; margin-bottom: 20px;"%> 
    <%= link_to "Volver", products_path, class: "btn btn-outline-secondary", style: "margin-left: 20px; margin-bottom: 20px;" %>
  </div>
</div>

