<h1>New product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Volver", products_path, class: "btn btn-outline-secondary", style: "margin-left: 10px; margin-bottom: 10px;" %>
</div>
